<p>Hello <%= @driver.full_name %> </p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<a href="<%= @reset_link %>" > Reset password link</a>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>